{{#if firstQuestion}}
<p>
  Have you gone through all the steps on the Learn How to Program debugging lesson?
</p>
<button class="btn" {{action 'secondQuestion'}}>Yes>></button>
{{else if secondQuestion}}
<p>
  Have you asked another pair for help?
</p>
<button class="btn" {{action 'thirdQuestion'}}>Yes>></button>
{{else if thirdQuestion}}
<p>
  Have you spent 15 minutes going through through the problem documenting every step?
</p>
<button class="btn" {{action 'newIssue'}}>Yes>></button>
{{else}}
{{new-issue}}
{{/if}}
